@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.flex{
  display: flex;
}
.feature{
  color: #FF900E;
}
/* drak 02 */
.gray{
  color: #424242;
}
/* dark 03 */
.light-gray{
  color: #727272;
}
.bg-light{
  background-color:rgba(255, 216, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
/* header style */

/* navber related style */
.navber{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navber, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}
/* team and feature */
.team{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature{
  margin-left: 130px;
  max-width: 530px;
}

.quick{
  font-weight: 500;

}
/* responsive media query */
@media screen and (max-width:576px){
  .navber, .nav-links, .team{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-feature{
    margin-left: 20px;
  }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
  .team{
    flex-direction: column;
  }
  .our-feature{
    margin: 50px auto;
  }
}